In [16]:
import sqlite3

In [17]:
conexao = sqlite3.connect('filmes.db')
cursor = conexao.cursor()

In [19]:
cursor.execute('''
   CREATE TABLE Filme (
        id_filme INTEGER PRIMARY KEY,
        nome_filme VARCHAR (100),
        genero_filme VARCHAR(30),
        imdb_link VARCHAR(1000),
        img_link VARCHAR(1000),
        popularidade_filme INT,
        duracao_filme FLOAT,
        sinopse VARCHAR (1000),
        diretor_filme VARCHAR(50),
        ano_lancamento INT,
        nota_filme FLOAT,
        produtora_filme VARCHAR (100)
    )
''')

OperationalError: table Filme already exists

In [20]:
cursor.execute('''
    CREATE TABLE Usuario (
    id_usuario INTEGER PRIMARY KEY,
    username VARCHAR(100)
    )
''')

OperationalError: table Usuario already exists

In [21]:
cursor.execute('''
    CREATE TABLE Avaliacao (
    id_avaliacao INTEGER PRIMARY KEY,
    id_usuario INTEGER,
    fk_filme_id INTEGER,
    nota_avaliacao FLOAT,
    FOREIGN KEY (id_usuario) REFERENCES Usuario (id_usuario),
    FOREIGN KEY (fk_filme_id) REFERENCES Filme (id_filme)
    )
''')

OperationalError: table Avaliacao already exists

In [22]:
cursor.execute('''
    CREATE TABLE Ator (
	id_ator INT PRIMARY KEY,
    nome_ator VARCHAR (100)
    )
''')

OperationalError: table Ator already exists

In [23]:
cursor.execute('''
    CREATE TABLE filme_ator (
	id_filme INT,
    id_ator INT,
    FOREIGN KEY (id_filme) REFERENCES Filme(id_filme),
    FOREIGN KEY (id_ator) REFERENCES Ator (id_ator)
    )
''')

OperationalError: table filme_ator already exists

In [24]:
cursor.execute('''
    CREATE TABLE idioma (
	id_idioma INT PRIMARY KEY,
    nome_idioma VARCHAR (100)
    )
''')

OperationalError: table idioma already exists

In [25]:
cursor.execute('''
    CREATE TABLE filme_idioma (
    id_filme INT,
    id_idioma INT,
    FOREIGN KEY (id_filme) REFERENCES Filme(id_filme),
    FOREIGN KEY (id_idioma) REFERENCES idioma(id_idioma)
    )
''')

OperationalError: table filme_idioma already exists

In [53]:
query = '''
    SELECT U.id_usuario, U.username, F.id_filme, F.nome_filme, F.genero_filme, F.imdb_link, F.img_link,
        F.popularidade_filme, F.duracao_filme, F.sinopse, F.diretor_filme, F.ano_lancamento,
        F.nota_filme, F.produtora_filme, GROUP_CONCAT(A.nome_ator) AS atores,
        GROUP_CONCAT(I.nome_idioma) AS idiomas, MAX(AV.nota_avaliacao) AS nota_avaliacao
    FROM Usuario U
    INNER JOIN Avaliacao AV ON U.id_usuario = AV.id_usuario
    INNER JOIN Filme F ON AV.fk_filme_id = F.id_filme
    LEFT JOIN filme_ator FA ON F.id_filme = FA.id_filme
    LEFT JOIN Ator A ON FA.id_ator = A.id_ator
    LEFT JOIN filme_idioma FI ON F.id_filme = FI.id_filme
    LEFT JOIN idioma I ON FI.id_idioma = I.id_idioma
    GROUP BY U.id_usuario, F.id_filme
'''

try:
    cursor.execute(query)
    resultado = cursor.fetchall()

    for i in resultado:
        print(i)
except Exception as e:
    print("Ocorreu um erro durante a execução da consulta:", str(e))

In [54]:
cursor.execute("SELECT * FROM Filme WHERE ano_lancamento = 1999")
resultado_consulta2 = cursor.fetchall()
for linha in resultado_consulta2:
    print(linha)

In [10]:
cursor.execute("SELECT * FROM Filme WHERE nota_filme >= 8.0")
resultado_consulta3 = cursor.fetchall()
for linha in resultado_consulta3:
    print(linha)

In [11]:
cursor.execute("SELECT * FROM Filme WHERE genero_filme = 'Ação'")
resultado_consulta4 = cursor.fetchall()
for linha in resultado_consulta4:
    print(linha)

In [56]:
query = '''
    SELECT *
    FROM clientes
    INNER JOIN pedidos ON clientes.id_cliente = pedidos.id_cliente;
'''
cursor.execute(query)

results = cursor.fetchall()

for row in results:
    print(row)

conn.close()

OperationalError: no such table: clientes